<a href="https://colab.research.google.com/github/snchimata/spark/blob/master/pyspark/pyspark_config.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PySpark - Config

In [0]:
!pip install pyspark

In [0]:
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

###Style - 1

In [0]:
sc = SparkSession.builder.appName("PysparkExample")\
.config ("spark.sql.shuffle.partitions", "50")\
.config("spark.driver.maxResultSize","5g")\
.config ("spark.sql.execution.arrow.enabled", "true")\
.getOrCreate()

###Style - 2

In [0]:
from math import ceil, floor
conf = {'memory':64, 'cores':24, 'partitions':24*20}
def init_spark():
    spark_conf = SparkConf()
    spark_conf.setAppName('PysparkExample')
    spark_conf.setMaster('local['+str(conf['partitions'])+']')
    spark_conf.set('spark.executor.memory', str(floor(conf['memory']*0.9))+'G')
    spark_conf.set('spark.driver.memory', str(ceil(conf['memory']*0.1))+'G')
    spark_conf.set('spark.hadoop.validateOutputSpecs', 'false')
    spark_conf.set('spark.sql.execution.arrow.enabled', 'true')
    spark = SparkSession.builder.config(conf=spark_conf).enableHiveSupport().getOrCreate()
    spark.sparkContext.setLogLevel('ERROR')
    return spark#.sparkContext

In [0]:
sc = init_spark()

In [63]:
sc.sparkContext._conf.getAll()

[('spark.sql.execution.arrow.enabled', 'true'),
 ('spark.executor.id', 'driver'),
 ('spark.executor.memory', '57G'),
 ('spark.app.name', 'PysparkExample'),
 ('spark.driver.host', 'efd670872f4c'),
 ('spark.driver.maxResultSize', '5g'),
 ('spark.driver.memory', '7G'),
 ('spark.driver.port', '37315'),
 ('spark.sql.shuffle.partitions', '50'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.app.id', 'local-1579036620760'),
 ('spark.rdd.compress', 'True'),
 ('spark.hadoop.validateOutputSpecs', 'false'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.deployMode', 'client'),
 ('spark.master', 'local[480]'),
 ('spark.ui.showConsoleProgress', 'true')]

In [51]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
# Load iris into a dataframe and set the field names
df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [0]:
sdf = sc.createDataFrame(df)

In [61]:
sdf.show(5)

+-----------------+----------------+-----------------+----------------+
|sepal length (cm)|sepal width (cm)|petal length (cm)|petal width (cm)|
+-----------------+----------------+-----------------+----------------+
|              5.1|             3.5|              1.4|             0.2|
|              4.9|             3.0|              1.4|             0.2|
|              4.7|             3.2|              1.3|             0.2|
|              4.6|             3.1|              1.5|             0.2|
|              5.0|             3.6|              1.4|             0.2|
+-----------------+----------------+-----------------+----------------+
only showing top 5 rows

In [62]:
type(sdf)

pyspark.sql.dataframe.DataFrame

In [0]:
sc.stop()